langchain-core==0.1.52
langchain-text-splitters==0.0.1
langchainhub==0.1.15
docx2txt==0.8
pypdf==4.2.0

#Added/Changed
langchain
langchain-community
langchain-openai
langchain-experimental
langchain_huggingface
neo4j